.location-card-section {
  background-color: #fff;
  display: flex;
  gap: 1.7rem;
  width: 90%;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.cards-wrapper{
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.location-card {
  width: 23%;
  height: 25rem;
  cursor: pointer;
}

.location-img {
  height: 75%;
}

.location-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.location-desc {
  height: 25%;
  padding: 0.4rem;
}

.location-desc-b1 {
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-between;
}

.location-name {
  font-weight: 600;
}

.location-desc-b1 svg {
  width: 18px;
  height: 18px;
}

.location-desc-b2 p {
  color: rgb(137, 135, 135);
  font-size: 15px;
}

.location-desc-b3 .price {
  font-weight: 600;
  font-size: 15px;
}

.show-more-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.show-more-block h3{
  font-size: 1.05rem;
}
.show-more-block button{
  background-color: #333;
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.show-more-block>button:hover{
  background-color:black;
  border-radius: 8px;
}