 .backdrop-header{
    height:10%;
    width:100%;
    display: flex; 
    gap: 25%;
} 

.login{
    padding: 0.9rem;
    height: 3rem;
    width: 10rem;
    font-weight: 1000;
}

.cross-icon {
    height: 3rem;
    width: 3rem;
    padding: 0.9rem;
}

.cross-icon:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
}

.modal-home{
    height: 90%;
    width: 100%;
    border-radius: 2%;
}

.welcome-div{
    font-size: 1.5rem;
    padding: 1rem;
}
